= form_for user do |f|
	= render 'shared/errors', model: user

	.field
		= f.label :email, 'E-mail'
		= f.email_field :email, class: 'form-control', required: 'required',
		placeholder: 'Digite o e-mail', autocomplete: 'off'
	.field
		= f.label :password, 'Senha'
		= f.password_field :password, class: 'form-control', required: 'required',
		placeholder: 'Digite a senha', autocomplete: 'off'
	.field
		= f.label :password_confirmation, 'Confirmar senha'
		= f.password_field :password_confirmation, class: 'form-control', required: 'required',
		placeholder: 'Confirme a senha', autocomplete: 'off'
	.actions
		= f.submit nil, class: 'btn btn-primary btn-lg top'