= form_for adoption, {remote: true} do |f|
	= render 'shared/errors', model: adoption

	.field
		= f.hidden_field :adoptionable_id
		= f.hidden_field :addptionable_type
	.field
		= f.submit nil, class: 'btn btn-primary btn-lg top'