= form_for profile, {multipart: true} do |f|
	= render 'shared/errors', model: profile

	.field
		= f.label :avatar, 'Avatar'
		= f.file_field :avatar, required: 'required'
	.actions
		= f.submit nil, class: 'btn btn-primary btn-lg top'